
# Ignore all data files (to protect privacy)
*.csv
*.xlsx
*.db
*.odt
*.ods
*.dbf
*.ott

# Ignore entire data folder
data/*

# Ignore the test queries (for privacy)
test_queries.sql

# This link has a list of all spreadsheet formats:
# https://docs.microsoft.com/en-us/deployoffice/compat/office-file-format-reference

# Ignore reports and charts summarizing data
*.docx
*.doc
*.pdf

# Ignore images (which might go into report)
*.png

# Ignore visual studio code settings
.vscode/*
